

body {  
  background: #383c44;
}






.content {
  max-width: 1500px;
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
  border: 2px solid black;  
}

.contentindex2 {
  max-width: 1500px;
  margin: auto;
  background-size: 1500px;
  text-align: center;
  border: 2px solid black; 

}

.parallax {
  /* The image used */
  background-image:  url('Diodati.jpg');

  /* Set a specific height */
  min-height: 1500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentindex {
  max-width: 850px;
  margin: auto;
  text-align: center; 
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

p {
    text-indent: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}


div. {
  text-align: center;
  padding: 10px 20px;
}

.img1 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top:200px;
}
.img2{
  margin-left: 10px;
  margin-right: 10px;
}


h1{
    color: white;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
}

.h1page{
    text-transform: capitalize;
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;    
    margin-bottom:2px;
}

.h1index{
    color: black;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    margin-top:350px;
    margin-bottom:10px;
}

h2{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    margin-top:-20px;
    margin-bottom:10px;
    font-size: 24px;
    text-decoration-style: solid;
}
.count {
    margin-top:-100px;
}  
.pindex{
    color: black;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:10px;
    margin-bottom:550px;
}
.pageinfor{
  max-width: 1500px;
  margin: auto;
  padding: 10px;

    
}
/* 页面宽度 */
.row {
  max-width: 1500px;
  margin: auto;
  background: #383c44;
  padding: 10px;

}

.rowindex {
  margin: auto;
  background: #383c44;
  padding: 10px;

}
.col-8{
    color:white;
    text-align:justify;
    
}
.navbar {
  width: 1500px; /* Set the desired width */
  margin: 0 auto; /* Center the navbar */
}



/* form-group-筛选 */
.form-group{
  max-width: 1500px;
  margin: auto;
}


.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

div.background {
  border: 2px solid black;
  background-color: #ffffff;
  opacity: 0.9;
  margin-bottom:10px;
  margin-left: 350px;
  margin-right: 350px;  
}

div.transbox {
  margin:7px;
  border: 3px solid black;
  background: #383c44;
}

div.transbox p {
  font-weight: bold;
  color: #000000;
}

.supralinear{
    display: inline-block; 
    position: relative;
    bottom: 50%;
    transform: translateY(-40%);            
    font-style: italic;
}
.supraAdd{
    display: inline-block; 
    position: relative;
    bottom: 50%;
    transform: translateY(-40%);            
    font-style: italic;
}
.underlinear{
    display: inline-block; 
    position: relative;
    bottom: 50%;
    transform: translateY(40%);            
    font-style: italic;
}


.sup{
    display: inline-block; 
    position: relative;
    bottom: 50%;
    transform: translateY(-40%);            
    font-style: italic;
    
}

.underline{
    text-decoration: underline
}

.crossedOut{
    text-decoration-line: line-through;
}

/* 
.crossedOut{
    color:#171415;
    text-decoration-line: line-through;
}

.crossedOutP{
    color:#4db6ac;
    text-decoration-line: line-through;
}
.crossedOutM{
    color:#b64d67;
    text-decoration-line: line-through;
}
 */



.MWS{
    font-family: Arial, Helvetica, sans-serif;
}

.PBS{
    font-family: Arial, Helvetica, sans-serif;
}

